body {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    float: right;
    margin-left: 250px;
    border-left: 3px solid #2A3661;
    text-align: justify;
    padding: 25px;
}

nav {
    position: fixed;
    top: 0;
    width: 250px;
    background-color: rgb(235, 235, 235);
}

.nav-bar {
    float: left;
    width: 30%;
}

header {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 25px;
    margin-top: 30px
}

nav header {
    border-bottom: 3px solid #2A3661;
    padding: 10px;
    height: 70px;
    text-align: center;
    margin: auto;
}

nav a {
    display: block;
    text-decoration: none;
    color: rgb(58, 58, 58);
    padding: 20px;
    border-bottom: 1px solid #2A3661;
}

p {
    padding: 3px;
    font-weight: 400;
    color: rgb(99, 99, 99);
}

code {
    margin-left: 20px;
    font-weight: 500;
    background-color: rgba(115, 144, 250, 0.24);
    padding: 10px;
}

li {
    color: rgb(59, 59, 59);
}

main a {
    text-decoration: none;
    color: rgb(82, 125, 165);
}

@media screen and (max-width: 800px) {
    nav {
        position: relative;
        top: auto;
        width: auto;
        overflow-y: auto;
        height: 300px;
        border-bottom: 3px solid #2A3661;
    }
    .nav-bar {
        width: auto;
    }
    nav header {
        margin-top: 20px;
    }
    main {
        float: right;
        margin-left: auto;
        border-left: none;
        text-align: justify;
        padding: 25px;
    }
}